<ion-list>
  <ion-item-divider>
    <ion-list-header class="font-size-medium font-style-bold">Lista de ações</ion-list-header>
  </ion-item-divider>
  <ion-item (click)="assume()" button><fa-icon class="color-secondary icon-default-size p-right-6" icon="hand-point-up"></fa-icon>Assumir</ion-item>
  <ion-item (click)="start()" button><fa-icon class="color-secondary icon-default-size p-right-6" icon="play-circle"></fa-icon>Iniciar</ion-item>
  <ion-item (click)="pause()" button><fa-icon class="color-secondary icon-default-size p-right-6" icon="pause-circle"></fa-icon>Pausar</ion-item>
  <ion-item (click)="delegate()" button><fa-icon class="color-secondary icon-default-size p-right-6" icon="hand-point-right"></fa-icon>Delegar</ion-item>
  <ion-item (click)="invite()" button><fa-icon class="color-secondary icon-default-size p-right-6" icon="user-friends"></fa-icon>Convidar</ion-item>
  <ion-item (click)="requestParticipation()" button><fa-icon class="color-secondary icon-default-size p-right-6" icon="users"></fa-icon>Solicitar Participação</ion-item>
  <ion-item (click)="equipamentStatus()" button><fa-icon class="color-secondary icon-default-size p-right-6" icon="info"></fa-icon>Status Equipamento</ion-item>
  <ion-item lines="none" (click)="checkList()" button><fa-icon class="color-secondary icon-default-size p-right-6" icon="check-square"></fa-icon>Check-List</ion-item>
</ion-list>
<ion-button expand="block" (click)="dismissPopover()">Close</ion-button>