<ion-header>
  <ion-toolbar>
    <ion-title>Operação</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="card">
    <ion-item class="p-4" *ngIf="orderEquipments != undefined">
      <ion-label color="primary" position="stacked">Equipamento</ion-label>
      <ion-select [(ngModel)]="orderEquipID">
        <ion-select-option style="white-space: pre-line !important;" [value]="orderEquipment.id" *ngFor="let orderEquipment of orderEquipments">{{orderEquipment.equipment.description}}</ion-select-option>
      </ion-select>
    </ion-item>    

    <ion-item>
      <ion-row>
        <ion-col size="2" style="display: flex; align-items: center;">
          <ion-icon style="color: #333;" name="agilit-article" class="icon-default-size"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-label color="secondary" position="floating">Descrição</ion-label>
          <ion-input type="text" [(ngModel)]="operationData.description"></ion-input>    
        </ion-col>
      </ion-row>
    </ion-item>    

    <ion-item>
      <ion-row>
        <ion-col size="2" style="display: flex; align-items: center;">
          <ion-icon style="color: #333;" name="agilit-unfold_more" class="icon-default-size"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-label color="secondary" position="floating">Número Operação</ion-label>
          <ion-input type="text" [(ngModel)]="operationData.operationNumber"></ion-input>    
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col size="3" style="display: flex; align-items: center;">
          <ion-icon style="color: #333;" name="agilit-more_time" class="icon-default-size"></ion-icon>
        </ion-col>
        <ion-col size="9">
          <ion-label color="secondary" position="floating">Tempo planejado</ion-label>
          <ion-input type="time" readonly [(ngModel)]="operationData.formatedPlanningTime" style="pointer-events: none;"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col size="3" style="display: flex; align-items: center;">
          <ion-icon style="color: #333;" name="agilit-access_time" class="icon-default-size"></ion-icon>
        </ion-col>
        <ion-col size="9">
          <ion-label color="secondary" position="floating">Tempo executado</ion-label>
          <ion-input type="time" [(ngModel)]="operationData.formatedExecutedTime" (ionBlur)="executeTimeChange()"></ion-input>    
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col size="2" style="display: flex; align-items: center;">
          <ion-icon style="color: #333;" name="agilit-notes" class="icon-default-size"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-label color="secondary" position="floating">Observação</ion-label>
          <ion-input type="text" [(ngModel)]="operationData.note"></ion-input>  
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>      
      <ion-label>Operação realizada</ion-label>
      <ion-toggle [(ngModel)]="executedToggle"></ion-toggle>      
    </ion-item>

    <ion-item>      
      <ion-label>Desaprovar</ion-label>
      <ion-toggle [(ngModel)]="isDisapproved"></ion-toggle>      
    </ion-item>
  </div>

  <div class="p-top-4">
    <ion-label>
      <div style="height: 2rem; display: flex; align-items: center; background-color: #333; border-radius: 0.3rem; opacity: 0.8;">
        <div class="m-left-4">
          <h3 style="color: white;"><strong>Componentes</strong></h3>
        </div>
      </div>
    </ion-label>
  </div>

  <ion-list style="padding-top: 0; padding-bottom: 0;">
    <ion-item lines="none">
      <ion-label>
        <ion-row>
          <ion-col size="9" class="align-left">
            <strong>Descrição</strong>
          </ion-col>
          <ion-col size="3" class="align-left">
            <strong>Qtde.</strong>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>

    <ion-item *ngFor="let component of operationData.orderComponent; let i = index">
        <ion-label text-wrap *ngIf="!component.deleted" (click)="openComponent(component)">
          <ion-row>
            <ion-col size="1" (click)="deleteComponent(i, component, $event)">
              <ion-icon name="agilit-cancel-circle"></ion-icon>
            </ion-col>
            <ion-col size="8">
              <h4>{{component.item.description}}</h4>
            </ion-col>
            <ion-col size="2">
              <h4>{{component.quantity | vpcurrency: '2'}}</h4>              
            </ion-col>
            <ion-col size="1">
              <ion-icon name="agilit-open-new"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="componentModalOpen()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <div class="align-center">
    <agilit-button (click)="confirmOperation()">Confirmar</agilit-button>
  </div>
</ion-footer>