<ion-header>
  <ion-item-divider>
    <ion-list-header class="font-size-medium font-style-bold">Filtros</ion-list-header>
    <ion-icon class="m-right-6" name="agilit-clear" (click)="clearFilters()"></ion-icon>
  </ion-item-divider>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="p-4">
      <ion-label color="primary" position="stacked">Núm. OM</ion-label>
      <ion-input [(ngModel)]="filters.orderNumber"></ion-input>
    </ion-item>
  
    <ion-item class="p-4">
      <ion-label color="primary" position="stacked">Equipamento</ion-label>
      <ion-input style="white-space: pre-line !important;" debounce="500" (ionChange)="loadEquipments()" [(ngModel)]="equipmentFilter"></ion-input>
  
      <ion-list style="max-height: 10rem; overflow: scroll;">
        <ion-item *ngFor="let item of equipments" (click)="equipmentSelected(item)">
          <ion-label>{{item.description}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-item>
  
    <ion-item class="p-4">
      <ion-label color="primary" position="stacked">Data inicial</ion-label>
      <ion-input type="date" [(ngModel)]="filters.initialDate"></ion-input>
    </ion-item>
  
    <ion-item class="p-4">
      <ion-label color="primary" position="stacked">Data final</ion-label>
      <ion-input type="date" [(ngModel)]="filters.finalDate"></ion-input>
    </ion-item>
  
    <ion-item class="p-4">
      <ion-label color="primary" position="stacked">Status</ion-label>    
      <ion-select [(ngModel)]="filters.orderStatus" multiple="true">
        <ion-select-option value="created">Aberta</ion-select-option>
        <ion-select-option value="assumed">Assumida</ion-select-option>
        <ion-select-option value="started">Iniciada</ion-select-option>
        <ion-select-option value="paused">Pausada</ion-select-option>
        <ion-select-option value="stopped">Parada</ion-select-option>
        <ion-select-option value="canceled">Cancelada</ion-select-option>
        <ion-select-option value="signature_pending">Assinatura pendente</ion-select-option>
        <ion-select-option value="signatured">Assinada</ion-select-option>
        <ion-select-option value="finished">Finalizada</ion-select-option>
      </ion-select>
      
    </ion-item>
  
    <ion-item class="p-4">
      <ion-label color="primary" position="stacked">Prioridade</ion-label>
      <ion-select [(ngModel)]="filters.priority" multiple="true">
        <ion-select-option value="low">Baixa</ion-select-option>
        <ion-select-option value="medium">Média</ion-select-option>
        <ion-select-option value="high">Alta</ion-select-option>
        <ion-select-option value="urgent">Urgente</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item class="p-4">
      <ion-label color="primary" position="stacked">Tipo OM</ion-label>
      <ion-select [(ngModel)]="filters.orderType" multiple="true">
        <ion-select-option [value]="item.id" *ngFor="let item of maintenanceOrderTypes">{{item.classification}}</ion-select-option>      
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="align-center">
    <ion-row>
      <ion-col size="6">
        <agilit-button [size]="'block'" [color]="'secondary'" (click)="cancelFilters()">Cancelar</agilit-button>
      </ion-col>

      <ion-col size="6">
        <agilit-button [size]="'block'" (click)="confirmFilters()">Filtrar</agilit-button>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>
