<ion-header>
</ion-header>

<ion-content>
  <div class="m-top-4">
    <ion-row>
      <ion-col size="6" class="align-center">
        <ion-label class="font-style-bold" color="primary">Data:</ion-label>
        <ion-item class="p-left-6 p-right-6">
          <ion-datetime style="--placeholder-color: #797777; font-weight: bold" placeholder="DD-MM-YYYY" displayFormat="DD-MM-YYYY" min="2000"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="align-center">
        <ion-label class="font-style-bold" color="primary">Intervalo:</ion-label>
        <ion-item class="p-left-6 p-right-6">
          <ion-datetime style="--placeholder-color: #797777; font-weight: bold" placeholder="HH:MM" displayFormat="h:mm" min="2000"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="align-center">
        <ion-label class="font-style-bold" color="primary">Hora Inical:</ion-label>
        <ion-item class="p-left-6 p-right-6 align-center">
          <ion-datetime style="--placeholder-color: #797777; font-weight: bold" placeholder="HH:MM" displayFormat="HH:mm" min="2000"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="align-center">
        <ion-label class="font-style-bold" color="primary">Hora Inical:</ion-label>
        <ion-item class="p-left-6 p-right-6">
          <ion-datetime style="--placeholder-color: #797777; font-weight: bold" placeholder="HH:MM" displayFormat="HH:mm" min="2000"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
